<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<game title="Pwr">
<campaign>
<quiz id="1" title="Władze uczelni">
<imagemodule/>
<questionmodule>
<paragraph>Wskaż kto pełni funkcję rektora uczelni.</paragraph>
</questionmodule>
<soundmodule>
<sound inventory="true" narration="true" src="04.Antonio Vivaldi -  Spring (the Four Season).mp3"/>
</soundmodule>
<prenote>Przystępuję do pierwszej zagadki, ale będzie zabawa.</prenote>
<postnote>To nie było takie trudne.</postnote>
<answermodule>
<answer datetime="15-06-2014 13:44:48" goto="4" points="10" type="MofN">
<option correct="true">prof. dr hab. inż. Tadeusz Więckowski</option>
<option correct="false">prof. dr hab. inż. Jerzy Walendziewski</option>
<option correct="false">prof. dr hab. inż. Eugeniusz Rusiński</option>
</answer>
</answermodule>
</quiz>
<quiz id="2" title="C13">
<imagemodule>
<image inventory="true" src="serowiec.jpg"/>
</imagemodule>
<questionmodule>
<paragraph>Musisz odnaleźć budynek C13.</paragraph>
</questionmodule>
<soundmodule/>
<prenote>C-13? To taki duży, dziwny budynek przy rzecze. Nie będzie trudno go wyłapać.</prenote>
<postnote>No i się udało.</postnote>
<answermodule>
<answer datetime="13-06-2014 01:44:48" goto="5" points="13" type="GPS">
<coordinates>
<x>51.107265506836285</x>
<y>17.05897068906456</y>
<width>51.107163</width>
<height>17.06062</height>
</coordinates>
</answer>
</answermodule>
</quiz>
<quiz id="3" title="C11">
<imagemodule>
<image inventory="true" src="gildiaMagow.jpg"/>
</imagemodule>
<questionmodule>
<paragraph>Musisz odnaleźć budynek C11.</paragraph>
</questionmodule>
<soundmodule/>
<prenote>Zastanawia mnie gdzie to jest, chyba powinienem spojrzeć na mapę kampusu.</prenote>
<postnote>Udało się!</postnote>
<answermodule>
<answer datetime="13-06-2014 01:44:48" goto="5" points="13" type="GPS">
<coordinates>
<x>51.10949336091354</x>
<y>17.06072874967062</y>
<width>51.109204</width>
<height>17.061092</height>
</coordinates>
</answer>
</answermodule>
</quiz>
<quiz id="4" title="Wpisy">
<imagemodule>
<image inventory="true" src="indeks.jpg"/>
</imagemodule>
<questionmodule>
<paragraph>Gratulacje udało Ci się zdać egzaminy z analizy oraz programowania. 
Niestety wpisy do indeksu przeprowadzane są w tym samym czasie. 
Musisz zdecydować, który wpis odebrać.</paragraph>
</questionmodule>
<soundmodule/>
<prenote>Trudny wybór...</prenote>
<postnote>...</postnote>
<answermodule>
<answer datetime="13-06-2014 01:49:44" points="0" type="Decision">
<option goto="3">Analiza</option>
<option goto="2">Programowanie</option>
</answer>
</answermodule>
</quiz>
<quiz id="5" title="Akademik">
<imagemodule>
<image inventory="true" src="styks.jpg"/>
</imagemodule>
<questionmodule>
<paragraph>Podaj nazwę domu akademickiego T15.</paragraph>
</questionmodule>
<soundmodule/>
<prenote>Teraz coś bardziej przyziemnego.</prenote>
<postnote>Też nie było jakies skomplikowane</postnote>
<answermodule>
<answer datetime="13-06-2014 01:49:44" goto="6" points="10" type="Text">
<correct>hades</correct>
</answer>
</answermodule>
</quiz>
<quiz id="6" title="Wydziały">
<imagemodule/>
<questionmodule>
<paragraph/>
</questionmodule>
<soundmodule/>
<prenote>To już ostatnie zadanie.</prenote>
<postnote>Koniec!</postnote>
<answermodule>
<answer datetime="13-06-2014 01:49:44" goto="1" points="20" timestop="1" type="Permutation">
<option index="1">Wydział Architektury</option>
<option index="2">Wydział Elektroniki</option>
<option index="3">Wydział Informatyki i Zarządzania</option>
</answer>
</answermodule>
</quiz>
<treasurebox>
<coordinates>
<x>51.10724523472706</x>
<y>17.058875186327686</y>
<width>51.107137217559675</width>
<height>17.06097773178223</height>
</coordinates>
<note>prof. dr hab. inż. Tadeusz Więckowski</note>
</treasurebox>
</campaign>
<intro>
<introModule image="logo.png">&lt;b&gt;Zapraszamy!&lt;/b&gt;</introModule>
<introModule image="pwr.png">Witamy w naszej grze traktującej o PWR!</introModule>
</intro>
<outro>
<outroModule image="sesja.jpg">A teraz wracaj do nauki!</outroModule>
</outro>
<settings>
<startdate>15-06-2014 13:10:30</startdate>
</settings>
</game>
